flows.json
[
    {
        "id": "796a2c9c.32aea4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4419a1d9.7996e",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "e5eb6a4.5443998"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 40,
                "wires": [
                    {
                        "id": "e5eb6a4.5443998",
                        "port": 0
                    }
                ]
            },
            {
                "x": 480,
                "y": 100,
                "wires": [
                    {
                        "id": "e5eb6a4.5443998",
                        "port": 1
                    }
                ]
            },
            {
                "x": 480,
                "y": 180,
                "wires": [
                    {
                        "id": "e5eb6a4.5443998",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "MAX",
                "type": "num",
                "value": "100",
                "ui": {
                    "icon": "font-awesome/fa-arrow-up",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "MIN",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-arrow-down",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#3FADB5",
        "outputLabels": [
            "mayor que MAX",
            "menor que MIN",
            "Otro"
        ]
    },
    {
        "id": "fd7b6047.704c6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "aprendiendonodered/alumno00/inicio",
        "birthQos": "0",
        "birthPayload": "estoy vivo",
        "closeTopic": "aprendiendonodered/alumno00/despedida",
        "closeQos": "2",
        "closePayload": "me acaban de restear",
        "willTopic": "aprendiendonodered/alumno00/testamento",
        "willQos": "2",
        "willPayload": "me he ido sin despedirme"
    },
    {
        "id": "2b37dcfa.e2bd84",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fdb24388.ea7e4",
        "type": "ui_group",
        "name": "Default",
        "tab": "2b37dcfa.e2bd84",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c2fcb565.a4e648",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e5eb6a4.5443998",
        "type": "switch",
        "z": "4419a1d9.7996e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "68c4c010.a9e8d",
        "type": "debug",
        "z": "796a2c9c.32aea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "dd98a59e.e44d68",
        "type": "e-mail",
        "z": "796a2c9c.32aea4",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "7ac0ee1.3ca991",
        "type": "twitter out",
        "z": "796a2c9c.32aea4",
        "name": "Tweet",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "ffe219f2.9f4cb8",
        "type": "change",
        "z": "796a2c9c.32aea4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "7ac0ee1.3ca991",
                "dd98a59e.e44d68",
                "68c4c010.a9e8d"
            ]
        ]
    }
]